.slider h3,
.slider h5
.klien h3{
    text-shadow: 1px 2px 3px rgba(0,0,0,0.5);
}

/* biar gambarnya ada efek parallax ukuran gambarnya diatur  */
.parallax-container{
    height: 2%;
}

/* bikin efek grayscale */
.parallax img{
    filter: grayscale();
    opacity: 30% !important; 
}

/* bikin shadow gambar di klien */
.klien img{
    max-width: 200px;
    filter: drop-shadow(1px 1px 1px rgba(0,0,0,50%));
    padding: 40px;
}
section{
    padding: 20px 0px;
}

/* ukuran card panel buat yang klien sama layanan */
.card-panel {
    height: 330px;
}
footer{
    padding: 20px 0px;
}
.form{
    height: 500px;
}
